<!DOCTYPE html>
<html>
	<head>
		<title>MongoWeb</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body style="background: #f0f0f0;">
		<% include partials/menu %>
		<div class="container-fluid" style="margin-top: 20px;">
			<div class="row">
				<div class="col-9">
					<div class="container-fluid">
						<div class="card">
							<div class="card-body">
								<h5 class=card-title>Databases</h5>
								<table class="table">
									<thead>
										<th scope="col">#</th>
										<th scope="col">Database Name</th>
									</thead>
									<tbody>
										<!-- Implement for loop here to go through each database  -->
										<tr>
											<th scope="row">1</th>
											<td><a href="#">admin</a></td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td><a href="#">ascension</a></td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td><a href="#">yelpcamp</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="container">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Quick Actions</h5>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a href="/database/new" class="nav-link">Create New Database</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
